# Исключить все файлы конфигурации, содержащие конфиденциальные данные
/src/main/resources/application-local.properties

# Исключить файлы логов и временные файлы
logs/
*.log
*.tmp

# Исключить файлы сборки и зависимости
/build/
/out/
/.gradle/
/.idea/
/*.iml

# Исключить файлы с конфиденциальной информацией и кэш
.env
*.env